

.nav_container{
    background-color: black;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    color: wheat;
    font-size: 4rem;
    font-weight: 800; 
    text-align: center;
    margin-top: 10%;
}

.component1{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
    top: 4rem;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3rem;
  }
  .event-card {
    height: fit-content;
    max-width: 25rem;
    margin-bottom: 2%;
    background-color: rgb(8, 8, 8);
    border-radius: 8px;
    box-shadow: 0 4px 8px linear-gradient(45deg, violet, purple);
    padding: 20px;
    transition: box-shadow 0.3s ease;
    word-wrap: break-word;
    white-space: normal;
  }
  .event-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  }
  .event-card h2 {
    margin-top: 0;
    margin-bottom: 1%;
    color: aliceblue;
  }
  .event-card p {
    color: #666;
    margin-bottom: 1%;
  }

  .event-card img{
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
   
  @media(max-width:600px){
    .heading{
        margin-top: 20%;
    }
  }